* {
    box-sizing: border-box;
}

/* body {

} */

.container {
    width: 80%;
}

header {
    width: 100%;
    display: flex;
    /* border: red 2px solid; */
    padding: 2rem 0 ;
}

nav {
    width: 100%;
    display: flex;

}

nav div {
    width: 25%;
    
    text-align: center;
}

.logo {
    padding: 1.5rem 0 0 0 ; 
}

nav .link {
    /* border: blue solid 2px;  */
    padding: 3rem 0 0 0 ; 

}












.box1 {
    background-color: teal;
}

.box2 {
    background-color: gold;   
}

.box3 {
    background-color: cadetblue; 
}

.box4 {
    background-color: coral; 
}

.box5 {
    background-color: crimson; 
}

.box6 {
    background-color: forestgreen;
}

.box7 {
    background-color: darkorchid;
}

.box8 {
    background-color: hotpink;
}

.box9 {
    background-color: indigo;
}

.box10 {
    background-color: dodgerblue;
}